# Importing Common Libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import date
from datetime import timedelta

# Importing Special Libraries

## Quandl

In [3]:
# https://algotrading101.com/learn/quandl-guide/
import quandl
quandl.ApiConfig.api_key = 'U4m2As16aHLxEiSQtGvn'## API Key provided after creating free ID on Quaqndl
quandl.save_key("U4m2As16aHLxEiSQtGvn")

## bselib

In [4]:
# https://bselib.readthedocs.io/en/latest/
from bselib.bse import BSE
bselib = BSE()

# Data Extraction

## Company 1: Reliance

In [5]:
data1=quandl.get('BSE/BOM500325',start_date='1992/03/05')
data1.tail(5)

,Open,High,Low,Close,WAP,No. of Shares,No. of Trades,Total Turnover,Deliverable Quantity,% Deli. Qty to Traded Qty,Spread H-L,Spread C-O
Date,,,,,,,,,,,,
2021-04-28,1999.45,2007.4,1980.75,1996.05,1997.18,442402.0,23740.0,8.835582e+08,175681.0,39.71,26.65,-3.40
2021-04-29,2016.65,2045.0,2008.00,2023.20,2023.89,253013.0,13651.0,5.120708e+08,53537.0,21.16,37.00,6.55
2021-04-30,2014.70,2036.4,1987.40,1994.45,2014.62,321474.0,17038.0,6.476477e+08,62341.0,19.39,49.00,-20.25
2021-05-03,1963.70,1979.0,1943.70,1959.25,1956.28,693942.0,32471.0,1.357544e+09,301865.0,43.50,35.30,-4.45
2021-05-04,1954.00,1967.5,1911.00,1916.55,1938.67,1021839.0,45654.0,1.981005e+09,681569.0,66.70,56.50,-37.45

In [6]:
# Financial Ratios
ratios = bselib.ratios(500325)
ratios=pd.DataFrame(ratios)
ratios

                       value_ratio  profit_ratio
SecurityId                RELIANCE           NaN
Grp_Index       A / S&P BSE SENSEX           NaN
FaceVal                      10.00           NaN
SecurityCode                500325           NaN
ISIN                  INE002A01018           NaN
Industry      Integrated Oil & Gas           NaN
Group                            A           NaN
Index               S&P BSE SENSEX           NaN
PAIDUP_VALUE                                 NaN
EPS                          48.13         48.13
CEPS                         61.73         61.73
PE                           39.82         39.89
OPM                              -         11.62
NPM                              -          8.86
PB                            2.73           NaN
ROE                           6.86           NaN
RONW                           NaN        118.18

In [7]:
# News
news = bselib.news(500325)
news

{'news': [{'newsid': '1f1d12e720d2dcf232bfd5b270fc4e99',
   'category': '',
   'description': 'RILs Rs 53,124-cr rights: Partly paid premium shrinks as call date nears  Business Standard',
   'imagepath': '',
   'link': 'https://www.business-standard.com/article/markets/ril-s-rs-53-124-cr-rights-partly-paid-premium-shrinks-as-call-date-nears-121050401025_1.html',
   'newstype': 'STKNWS',
   'publisheddate': '04-May-2021 19:00',
   'source': 'https://www.business-standard.com',
   'stockid': 605152,
   'title': 'RILs Rs 53,124-cr rights: Partly paid premium shrinks as call date nears'},
  {'newsid': '33779c2e86447b43acbe4115f26f4d12',
   'category': '',
   'description': 'Stocks to Watch: RIL, Adani Ports and SEZ, ICICI Bank, Bajaj Auto  Mint',
   'imagepath': '',
   'link': 'https://www.livemint.com/market/stock-market-news/stocks-to-watch-ril-adani-ports-and-sez-icici-bank-bajaj-auto-11620091949109.html',
   'newstype': 'STKNWS',
   'publisheddate': '04-May-2021 07:30',
   'source': 'https://www.livemint.com',
   'stockid': 605152,
   'title': 'Stocks to Watch: RIL, Adani Ports and SEZ, ICICI Bank, Bajaj Auto'},
  {'newsid': '64faa955f7c6a2c3ed531a2ba413481d',
   'category': '',
   'description': 'RIL share price falls for 2nd straight day after Q4 results; charts show it may fall more  The Financial Express',
   'imagepath': '',
   'link': 'https://www.financialexpress.com/market/ril-share-price-falls-for-2nd-straight-day-after-q4-results-charts-show-reliance-industries-ltd-stock-may-fall-more/2245488/',
   'newstype': 'STKNWS',
   'publisheddate': '04-May-2021 11:13',
   'source': 'https://www.financialexpress.com',
   'stockid': 605152,
   'title': 'RIL share price falls for 2nd straight day after Q4 results; charts show it may fall more'},
  {'newsid': '376526f6d6b5c8253c58a87de887da1f',
   'category': '',
   'description': 'Markets recoup initial losses to end flat; Reliance, banks perform poorly  Business Standard',
   'imagepath': '',
   'link': 'https://www.business-standard.com/article/markets/markets-recoup-initial-losses-to-end-flat-reliance-banks-perform-poorly-121050400015_1.html',
   'newstype': 'STKNWS',
   'publisheddate': '04-May-2021 00:15',
   'source': 'https://www.business-standard.com',
   'stockid': 605152,
   'title': 'Markets recoup initial losses to end flat; Reliance, banks perform poorly'}]}

## Company 2: Tata Consultancy Services

In [8]:
data2=quandl.get('BSE/BOM532540',start_date='1992/03/05')
data2.tail(5)

,Open,High,Low,Close,WAP,No. of Shares,No. of Trades,Total Turnover,Deliverable Quantity,% Deli. Qty to Traded Qty,Spread H-L,Spread C-O
Date,,,,,,,,,,,,
2021-04-28,3143.0,3150.5,3112.0,3123.80,3126.50,39238.0,3909.0,122677533.0,11291.0,28.78,38.5,-19.20
2021-04-29,3142.0,3156.3,3105.4,3113.20,3132.17,62825.0,4300.0,196778293.0,33857.0,53.89,50.9,-28.80
2021-04-30,3111.0,3132.7,3021.0,3038.40,3073.90,69616.0,7653.0,213992371.0,35096.0,50.41,111.7,-72.60
2021-05-03,3034.7,3057.0,3004.8,3037.00,3037.02,110455.0,12181.0,335453970.0,41101.0,37.21,52.2,2.30
2021-05-04,3060.0,3090.0,3035.2,3048.95,3059.88,71115.0,7291.0,217603697.0,25831.0,36.32,54.8,-11.05

In [9]:
# Financial Ratios
ratios = bselib.ratios(532540)
ratios=pd.DataFrame(ratios)
ratios

                           value_ratio  profit_ratio
SecurityId                         TCS           NaN
Grp_Index           A / S&P BSE SENSEX           NaN
FaceVal                           1.00           NaN
SecurityCode                    532540           NaN
ISIN                      INE467B01029           NaN
Industry      IT Consulting & Software           NaN
Group                                A           NaN
Index                   S&P BSE SENSEX           NaN
PAIDUP_VALUE                                     NaN
EPS                              83.70         83.70
CEPS                             91.95         91.95
PE                               36.43         36.99
OPM                                  -         32.50
NPM                                  -         22.69
PB                               15.08           NaN
ROE                              41.39           NaN
RONW                               NaN       2209.19

In [10]:
# News
news = bselib.news(532540)
news

{'news': [{'newsid': 'd2b09a2a90788cfd49810165d6061015',
   'category': '',
   'description': 'Tata Consultancy Services Rating: Buy- A strong performance in the last quarter  The Financial Express',
   'imagepath': '',
   'link': 'https://www.financialexpress.com/market/tata-consultancy-services-rating-buy-a-strong-performance-in-the-last-quarter/2234658/',
   'newstype': 'STKNWS',
   'publisheddate': '17-Apr-2021 12:30',
   'source': 'https://www.financialexpress.com',
   'stockid': 513374,
   'title': 'Tata Consultancy Services Rating: Buy- A strong performance in the last quarter'},
  {'newsid': '77de9dd1d9405bfd9e70297492b58529',
   'category': '',
   'description': 'TCS names Samir Seksaria as CFO  Economic Times',
   'imagepath': '',
   'link': 'https://economictimes.indiatimes.com/tech/information-tech/tcs-names-samir-seksaria-as-cfo/articleshow/82327948.cms',
   'newstype': 'STKNWS',
   'publisheddate': '30-Apr-2021 16:50',
   'source': 'https://economictimes.indiatimes.com',
   'stockid': 513374,
   'title': 'TCS names Samir Seksaria as CFO'},
  {'newsid': 'cb0f6c9ade14771dee2d8174fad42e29',
   'category': '',
   'description': 'TCS appoints Samir Seksaria as CFO effective 1 May  Mint',
   'imagepath': '',
   'link': 'https://www.livemint.com/companies/news/tcs-appoints-samir-seksaria-as-cfo-effective-1-may-11619782918893.html',
   'newstype': 'STKNWS',
   'publisheddate': '30-Apr-2021 17:25',
   'source': 'https://www.livemint.com',
   'stockid': 513374,
   'title': 'TCS appoints Samir Seksaria as CFO effective 1 May'},
  {'newsid': '4916e6f2f3deff92c9f1a7c1f42b3aee',
   'category': '',
   'description': 'TCS announces Covid care services for employees, their kin  Economic Times',
   'imagepath': '',
   'link': 'https://economictimes.indiatimes.com/tech/information-tech/tcs-announces-covid-care-services-for-employees-their-kin/articleshow/82287658.cms',
   'newstype': 'STKNWS',
   'publisheddate': '28-Apr-2021 12:10',
   'source': 'https://economictimes.indiatimes.com',
   'stockid': 513374,
   'title': 'TCS announces Covid care services for employees, their kin'}]}

# Factor 1: Daily Price Prediction

In [13]:
dataset = pd.DataFrame(data1['Close'])
dataset.head(5)

            Close
Date
1992-03-09  342.5
1992-03-10  312.5
1992-03-11  300.0
1992-03-12  305.0
1992-03-13  302.5

In [15]:
# Feature Scaling
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler(feature_range = (0, 1))
training_set_scaled = sc.fit_transform(dataset)

array([[0.07725405],
       [0.06762137],
       [0.06360776],
       ...,
       [0.60767724],
       [0.5963749 ],
       [0.5826644 ]])

### Creating a data structure with 60 timesteps and 1 output

In [16]:
X_train = []
y_train = []
for i in range(60, 1258):
    X_train.append(training_set_scaled[i-60:i, 0])
    y_train.append(training_set_scaled[i, 0])
X_train, y_train = np.array(X_train), np.array(y_train)

### Reshaping

In [17]:
X_train = np.reshape(X_train, (X_train.shape[0], X_train.shape[1], 1))

## Part 2 - Building and Training the RNN

### Importing the Keras libraries and packages

In [18]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout

### Initialising the RNN

In [19]:
regressor = Sequential()

### Adding the first LSTM layer and some Dropout regularisation

In [20]:
regressor.add(LSTM(units = 50, return_sequences = True, input_shape = (X_train.shape[1], 1)))
regressor.add(Dropout(0.2))

### Adding a second LSTM layer and some Dropout regularisation

In [21]:
regressor.add(LSTM(units = 50, return_sequences = True))
regressor.add(Dropout(0.2))

### Adding a third LSTM layer and some Dropout regularisation

In [22]:
regressor.add(LSTM(units = 50, return_sequences = True))
regressor.add(Dropout(0.2))

### Adding a fourth LSTM layer and some Dropout regularisation

In [23]:
regressor.add(LSTM(units = 50))
regressor.add(Dropout(0.2))

### Adding the output layer

In [24]:
regressor.add(Dense(units = 1))

### Compiling the RNN

In [25]:
regressor.compile(optimizer = 'adam', loss = 'mean_squared_error')

### Fitting the RNN to the Training set

In [26]:
regressor.fit(X_train, y_train, epochs = 100, batch_size = 32)

Epoch 1/100
38/38 [==============================] - 7s 43ms/step - loss: 7.7509e-04
Epoch 2/100
38/38 [==============================] - 2s 44ms/step - loss: 1.4692e-04
Epoch 3/100
38/38 [==============================] - 2s 44ms/step - loss: 9.4156e-05
Epoch 4/100
38/38 [==============================] - 2s 44ms/step - loss: 9.4197e-05
Epoch 5/100
38/38 [==============================] - 2s 50ms/step - loss: 8.1531e-05
Epoch 6/100
38/38 [==============================] - 2s 50ms/step - loss: 7.2757e-05
Epoch 7/100
38/38 [==============================] - 2s 44ms/step - loss: 8.3249e-05
Epoch 8/100
38/38 [==============================] - 2s 57ms/step - loss: 6.0537e-05
Epoch 9/100
38/38 [==============================] - 2s 44ms/step - loss: 6.7626e-05
Epoch 10/100
38/38 [==============================] - 2s 44ms/step - loss: 6.9981e-05
Epoch 11/100
38/38 [==============================] - 2s 65ms/step - loss: 5.5573e-05
Epoch 12/100
38/38 [==============================] - 2s 47ms/step - loss: 6.7127e-05
Epoch 13/100
38/38 [==============================] - 2s 45ms/step - loss: 5.4422e-05
Epoch 14/100
38/38 [==============================] - 2s 60ms/step - loss: 5.4197e-05
Epoch 15/100
38/38 [==============================] - 2s 53ms/step - loss: 4.6374e-05
Epoch 16/100
38/38 [==============================] - 2s 45ms/step - loss: 4.5159e-05
Epoch 17/100
38/38 [==============================] - 2s 56ms/step - loss: 4.7401e-05
Epoch 18/100
38/38 [==============================] - 2s 58ms/step - loss: 4.7636e-05
Epoch 19/100
38/38 [==============================] - 2s 45ms/step - loss: 4.4338e-05
Epoch 20/100
38/38 [==============================] - 2s 49ms/step - loss: 4.3099e-05
Epoch 21/100
38/38 [==============================] - 2s 64ms/step - loss: 4.1562e-05
Epoch 22/100
38/38 [==============================] - 2s 44ms/step - loss: 3.9184e-05
Epoch 23/100
38/38 [==============================] - 2s 45ms/step - loss: 4.8470e-05
Epoch 24/100
38/38 [==============================] - 3s 67ms/step - loss: 3.5800e-05
Epoch 25/100
38/38 [==============================] - 3s 68ms/step - loss: 3.5298e-05
Epoch 26/100
38/38 [==============================] - 3s 68ms/step - loss: 3.4260e-05
Epoch 27/100
38/38 [==============================] - 3s 69ms/step - loss: 4.1898e-05
Epoch 28/100
38/38 [==============================] - 3s 68ms/step - loss: 3.7629e-05
Epoch 29/100
38/38 [==============================] - 3s 69ms/step - loss: 3.2205e-05
Epoch 30/100
38/38 [==============================] - 3s 68ms/step - loss: 3.1904e-05
Epoch 31/100
38/38 [==============================] - 3s 69ms/step - loss: 3.3815e-05
Epoch 32/100
38/38 [==============================] - 3s 69ms/step - loss: 3.6236e-05
Epoch 33/100
38/38 [==============================] - 3s 69ms/step - loss: 3.3945e-05
Epoch 34/100
38/38 [==============================] - 3s 68ms/step - loss: 3.3399e-05
Epoch 35/100
38/38 [==============================] - 3s 68ms/step - loss: 2.6931e-05
Epoch 36/100
38/38 [==============================] - 3s 68ms/step - loss: 2.8949e-05
Epoch 37/100
38/38 [==============================] - 3s 68ms/step - loss: 2.6421e-05
Epoch 38/100
38/38 [==============================] - 2s 52ms/step - loss: 2.9189e-05
Epoch 39/100
38/38 [==============================] - 2s 44ms/step - loss: 3.6725e-05
Epoch 40/100
38/38 [==============================] - 2s 53ms/step - loss: 2.7791e-05
Epoch 41/100
38/38 [==============================] - 2s 60ms/step - loss: 3.1601e-05
Epoch 42/100
38/38 [==============================] - 2s 45ms/step - loss: 3.0179e-05
Epoch 43/100
38/38 [==============================] - 2s 48ms/step - loss: 2.4395e-05
Epoch 44/100
38/38 [==============================] - 3s 68ms/step - loss: 2.6835e-05
Epoch 45/100
38/38 [==============================] - 3s 68ms/step - loss: 2.3609e-05
Epoch 46/100
38/38 [==============================] - 3s 71ms/step - loss: 2.8279e-05
Epoch 47/100
38/38 [==============================] - 3s 69ms/step - loss: 2.9597e-05
Epoch 48/100
38/38 [==============================] - 3s 71ms/step - loss: 2.6496e-05
Epoch 49/100
38/38 [==============================] - 3s 70ms/step - loss: 2.5508e-05
Epoch 50/100
38/38 [==============================] - 3s 71ms/step - loss: 2.6095e-05
Epoch 51/100
38/38 [==============================] - 3s 69ms/step - loss: 2.2437e-05
Epoch 52/100
38/38 [==============================] - 3s 69ms/step - loss: 2.6804e-05
Epoch 53/100
38/38 [==============================] - 3s 70ms/step - loss: 2.5471e-05
Epoch 54/100
38/38 [==============================] - 3s 68ms/step - loss: 2.7419e-05
Epoch 55/100
38/38 [==============================] - 3s 69ms/step - loss: 2.6711e-05
Epoch 56/100
38/38 [==============================] - 3s 68ms/step - loss: 2.4695e-05
Epoch 57/100
38/38 [==============================] - 3s 68ms/step - loss: 2.5849e-05
Epoch 58/100
38/38 [==============================] - 3s 68ms/step - loss: 2.4137e-05
Epoch 59/100
38/38 [==============================] - 3s 69ms/step - loss: 2.3011e-05
Epoch 60/100
38/38 [==============================] - 3s 69ms/step - loss: 2.4663e-05
Epoch 61/100
38/38 [==============================] - 3s 70ms/step - loss: 2.5082e-05
Epoch 62/100
38/38 [==============================] - 3s 70ms/step - loss: 2.0079e-05
Epoch 63/100
38/38 [==============================] - 3s 70ms/step - loss: 2.4702e-05
Epoch 64/100
38/38 [==============================] - 3s 68ms/step - loss: 2.7044e-05
Epoch 65/100
38/38 [==============================] - 3s 68ms/step - loss: 2.1164e-05
Epoch 66/100
38/38 [==============================] - 3s 68ms/step - loss: 2.2961e-05
Epoch 67/100
38/38 [==============================] - 3s 68ms/step - loss: 2.1205e-05
Epoch 68/100
38/38 [==============================] - 3s 69ms/step - loss: 2.4612e-05
Epoch 69/100
38/38 [==============================] - 3s 70ms/step - loss: 2.3450e-05
Epoch 70/100
38/38 [==============================] - 3s 70ms/step - loss: 2.2275e-05
Epoch 71/100
38/38 [==============================] - 3s 70ms/step - loss: 2.2715e-05
Epoch 72/100
38/38 [==============================] - 3s 70ms/step - loss: 1.9888e-05
Epoch 73/100
38/38 [==============================] - 3s 69ms/step - loss: 1.9016e-05
Epoch 74/100
38/38 [==============================] - 3s 70ms/step - loss: 2.0959e-05
Epoch 75/100
38/38 [==============================] - 3s 69ms/step - loss: 1.8972e-05
Epoch 76/100
38/38 [==============================] - 3s 71ms/step - loss: 2.0855e-05
Epoch 77/100
38/38 [==============================] - 3s 71ms/step - loss: 2.1152e-05
Epoch 78/100
38/38 [==============================] - 3s 70ms/step - loss: 2.3092e-05
Epoch 79/100
38/38 [==============================] - 3s 69ms/step - loss: 1.9930e-05
Epoch 80/100
38/38 [==============================] - 3s 70ms/step - loss: 2.1841e-05
Epoch 81/100
38/38 [==============================] - 3s 69ms/step - loss: 2.1680e-05
Epoch 82/100
38/38 [==============================] - 3s 70ms/step - loss: 2.1477e-05
Epoch 83/100
38/38 [==============================] - 3s 70ms/step - loss: 1.8646e-05
Epoch 84/100
38/38 [==============================] - 3s 69ms/step - loss: 2.0547e-05
Epoch 85/100
38/38 [==============================] - 3s 70ms/step - loss: 2.0238e-05
Epoch 86/100
38/38 [==============================] - 3s 69ms/step - loss: 1.9109e-05
Epoch 87/100
38/38 [==============================] - 3s 71ms/step - loss: 1.8456e-05
Epoch 88/100
38/38 [==============================] - 3s 69ms/step - loss: 1.8902e-05
Epoch 89/100
38/38 [==============================] - 3s 70ms/step - loss: 2.2871e-05
Epoch 90/100
38/38 [==============================] - 3s 70ms/step - loss: 2.2700e-05
Epoch 91/100
38/38 [==============================] - 3s 70ms/step - loss: 1.6018e-05
Epoch 92/100
38/38 [==============================] - 3s 71ms/step - loss: 1.8846e-05
Epoch 93/100
38/38 [==============================] - 3s 72ms/step - loss: 1.8391e-05
Epoch 94/100
38/38 [==============================] - 3s 70ms/step - loss: 2.0060e-05
Epoch 95/100
38/38 [==============================] - 3s 70ms/step - loss: 2.0458e-05
Epoch 96/100

38/38 [==============================] - 3s 70ms/step - loss: 1.7465e-05
Epoch 97/100
38/38 [==============================] - 4s 111ms/step - loss: 1.9225e-05
Epoch 98/100
38/38 [==============================] - 3s 75ms/step - loss: 1.8052e-05
Epoch 99/100
38/38 [==============================] - 3s 76ms/step - loss: 1.4981e-05
Epoch 100/100
38/38 [==============================] - 3s 76ms/step - loss: 1.9267e-05

In [28]:
dataset_total = dataset
inputs = dataset_total[len(dataset_total) - 60:].values
inputs = inputs.reshape(-1,1)
inputs = sc.transform(inputs)
X_test = []
for i in range(60, 80):
    X_test.append(inputs[i-60:i, 0])
X_test = np.array(X_test)
X_test

<ipython-input-28-ed7bcc9bfa34>:8: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  X_test = np.array(X_test)

array([array([0.58707937, 0.58504046, 0.58505651, 0.59388646, 0.59531531,
       0.60151233, 0.62729579, 0.62270421, 0.61992679, 0.62861225,
       0.63602941, 0.63049062, 0.63532302, 0.61183535, 0.6172457 ,
       0.63050668, 0.65596905, 0.63638261, 0.64193745, 0.64355895,
       0.67411058, 0.66587465, 0.66678975, 0.67061071, 0.67053044,
       0.66780118, 0.65397829, 0.64437773, 0.64171269, 0.62716735,
       0.61250963, 0.63575649, 0.62931865, 0.63805227, 0.6246468 ,
       0.60713139, 0.60761302, 0.61864244, 0.61048677, 0.61642692,
       0.60714744, 0.60420948, 0.61035834, 0.61106473, 0.60388839,
       0.58097868, 0.58759312, 0.59144619, 0.5882674 , 0.57816915,
       0.5777999 , 0.57929296, 0.57876316, 0.58937516, 0.6058952 ,
       0.60819098, 0.61690855, 0.60767724, 0.5963749 , 0.5826644 ]),
       array([0.58504046, 0.58505651, 0.59388646, 0.59531531, 0.60151233,
       0.62729579, 0.62270421, 0.61992679, 0.62861225, 0.63602941,
       0.63049062, 0.63532302, 0.61183535, 0.6172457 , 0.63050668,
       0.65596905, 0.63638261, 0.64193745, 0.64355895, 0.67411058,
       0.66587465, 0.66678975, 0.67061071, 0.67053044, 0.66780118,
       0.65397829, 0.64437773, 0.64171269, 0.62716735, 0.61250963,
       0.63575649, 0.62931865, 0.63805227, 0.6246468 , 0.60713139,
       0.60761302, 0.61864244, 0.61048677, 0.61642692, 0.60714744,
       0.60420948, 0.61035834, 0.61106473, 0.60388839, 0.58097868,
       0.58759312, 0.59144619, 0.5882674 , 0.57816915, 0.5777999 ,
       0.57929296, 0.57876316, 0.58937516, 0.6058952 , 0.60819098,
       0.61690855, 0.60767724, 0.5963749 , 0.5826644 ]),
       array([0.58505651, 0.59388646, 0.59531531, 0.60151233, 0.62729579,
       0.62270421, 0.61992679, 0.62861225, 0.63602941, 0.63049062,
       0.63532302, 0.61183535, 0.6172457 , 0.63050668, 0.65596905,
       0.63638261, 0.64193745, 0.64355895, 0.67411058, 0.66587465,
       0.66678975, 0.67061071, 0.67053044, 0.66780118, 0.65397829,
       0.64437773, 0.64171269, 0.62716735, 0.61250963, 0.63575649,
       0.62931865, 0.63805227, 0.6246468 , 0.60713139, 0.60761302,
       0.61864244, 0.61048677, 0.61642692, 0.60714744, 0.60420948,
       0.61035834, 0.61106473, 0.60388839, 0.58097868, 0.58759312,
       0.59144619, 0.5882674 , 0.57816915, 0.5777999 , 0.57929296,
       0.57876316, 0.58937516, 0.6058952 , 0.60819098, 0.61690855,
       0.60767724, 0.5963749 , 0.5826644 ]),
       array([0.59388646, 0.59531531, 0.60151233, 0.62729579, 0.62270421,
       0.61992679, 0.62861225, 0.63602941, 0.63049062, 0.63532302,
       0.61183535, 0.6172457 , 0.63050668, 0.65596905, 0.63638261,
       0.64193745, 0.64355895, 0.67411058, 0.66587465, 0.66678975,
       0.67061071, 0.67053044, 0.66780118, 0.65397829, 0.64437773,
       0.64171269, 0.62716735, 0.61250963, 0.63575649, 0.62931865,
       0.63805227, 0.6246468 , 0.60713139, 0.60761302, 0.61864244,
       0.61048677, 0.61642692, 0.60714744, 0.60420948, 0.61035834,
       0.61106473, 0.60388839, 0.58097868, 0.58759312, 0.59144619,
       0.5882674 , 0.57816915, 0.5777999 , 0.57929296, 0.57876316,
       0.58937516, 0.6058952 , 0.60819098, 0.61690855, 0.60767724,
       0.5963749 , 0.5826644 ]),
       array([0.59531531, 0.60151233, 0.62729579, 0.62270421, 0.61992679,
       0.62861225, 0.63602941, 0.63049062, 0.63532302, 0.61183535,
       0.6172457 , 0.63050668, 0.65596905, 0.63638261, 0.64193745,
       0.64355895, 0.67411058, 0.66587465, 0.66678975, 0.67061071,
       0.67053044, 0.66780118, 0.65397829, 0.64437773, 0.64171269,
       0.62716735, 0.61250963, 0.63575649, 0.62931865, 0.63805227,
       0.6246468 , 0.60713139, 0.60761302, 0.61864244, 0.61048677,
       0.61642692, 0.60714744, 0.60420948, 0.61035834, 0.61106473,
       0.60388839, 0.58097868, 0.58759312, 0.59144619, 0.5882674 ,
       0.57816915, 0.5777999 , 0.57929296, 0.57876316, 0.58937516,
       0.6058952 , 0.60819098, 0.61690855, 0.60767724, 0.5963749 ,
       0.5826644 ]),
       array([0.60151233, 0.62729579, 0.62270421, 0.61992679, 0.62861225,
       0.63602941, 0.63049062, 0.63532302, 0.61183535, 0.6172457 ,
       0.63050668, 0.65596905, 0.63638261, 0.64193745, 0.64355895,
       0.67411058, 0.66587465, 0.66678975, 0.67061071, 0.67053044,
       0.66780118, 0.65397829, 0.64437773, 0.64171269, 0.62716735,
       0.61250963, 0.63575649, 0.62931865, 0.63805227, 0.6246468 ,
       0.60713139, 0.60761302, 0.61864244, 0.61048677, 0.61642692,
       0.60714744, 0.60420948, 0.61035834, 0.61106473, 0.60388839,
       0.58097868, 0.58759312, 0.59144619, 0.5882674 , 0.57816915,
       0.5777999 , 0.57929296, 0.57876316, 0.58937516, 0.6058952 ,
       0.60819098, 0.61690855, 0.60767724, 0.5963749 , 0.5826644 ]),
       array([0.62729579, 0.62270421, 0.61992679, 0.62861225, 0.63602941,
       0.63049062, 0.63532302, 0.61183535, 0.6172457 , 0.63050668,
       0.65596905, 0.63638261, 0.64193745, 0.64355895, 0.67411058,
       0.66587465, 0.66678975, 0.67061071, 0.67053044, 0.66780118,
       0.65397829, 0.64437773, 0.64171269, 0.62716735, 0.61250963,
       0.63575649, 0.62931865, 0.63805227, 0.6246468 , 0.60713139,
       0.60761302, 0.61864244, 0.61048677, 0.61642692, 0.60714744,
       0.60420948, 0.61035834, 0.61106473, 0.60388839, 0.58097868,
       0.58759312, 0.59144619, 0.5882674 , 0.57816915, 0.5777999 ,
       0.57929296, 0.57876316, 0.58937516, 0.6058952 , 0.60819098,
       0.61690855, 0.60767724, 0.5963749 , 0.5826644 ]),
       array([0.62270421, 0.61992679, 0.62861225, 0.63602941, 0.63049062,
       0.63532302, 0.61183535, 0.6172457 , 0.63050668, 0.65596905,
       0.63638261, 0.64193745, 0.64355895, 0.67411058, 0.66587465,
       0.66678975, 0.67061071, 0.67053044, 0.66780118, 0.65397829,
       0.64437773, 0.64171269, 0.62716735, 0.61250963, 0.63575649,
       0.62931865, 0.63805227, 0.6246468 , 0.60713139, 0.60761302,
       0.61864244, 0.61048677, 0.61642692, 0.60714744, 0.60420948,
       0.61035834, 0.61106473, 0.60388839, 0.58097868, 0.58759312,
       0.59144619, 0.5882674 , 0.57816915, 0.5777999 , 0.57929296,
       0.57876316, 0.58937516, 0.6058952 , 0.60819098, 0.61690855,
       0.60767724, 0.5963749 , 0.5826644 ]),
       array([0.61992679, 0.62861225, 0.63602941, 0.63049062, 0.63532302,
       0.61183535, 0.6172457 , 0.63050668, 0.65596905, 0.63638261,
       0.64193745, 0.64355895, 0.67411058, 0.66587465, 0.66678975,
       0.67061071, 0.67053044, 0.66780118, 0.65397829, 0.64437773,
       0.64171269, 0.62716735, 0.61250963, 0.63575649, 0.62931865,
       0.63805227, 0.6246468 , 0.60713139, 0.60761302, 0.61864244,
       0.61048677, 0.61642692, 0.60714744, 0.60420948, 0.61035834,
       0.61106473, 0.60388839, 0.58097868, 0.58759312, 0.59144619,
       0.5882674 , 0.57816915, 0.5777999 , 0.57929296, 0.57876316,
       0.58937516, 0.6058952 , 0.60819098, 0.61690855, 0.60767724,
       0.5963749 , 0.5826644 ]),
       array([0.62861225, 0.63602941, 0.63049062, 0.63532302, 0.61183535,
       0.6172457 , 0.63050668, 0.65596905, 0.63638261, 0.64193745,
       0.64355895, 0.67411058, 0.66587465, 0.66678975, 0.67061071,
       0.67053044, 0.66780118, 0.65397829, 0.64437773, 0.64171269,
       0.62716735, 0.61250963, 0.63575649, 0.62931865, 0.63805227,
       0.6246468 , 0.60713139, 0.60761302, 0.61864244, 0.61048677,
       0.61642692, 0.60714744, 0.60420948, 0.61035834, 0.61106473,
       0.60388839, 0.58097868, 0.58759312, 0.59144619, 0.5882674 ,
       0.57816915, 0.5777999 , 0.57929296, 0.57876316, 0.58937516,
       0.6058952 , 0.60819098, 0.61690855, 0.60767724, 0.5963749 ,
       0.5826644 ]),
       array([0.63602941, 0.63049062, 0.63532302, 0.61183535, 0.6172457 ,
       0.63050668, 0.65596905, 0.63638261, 0.64193745, 0.64355895,
       0.67411058, 0.66587465, 0.66678975, 0.67061071, 0.67053044,
       0.66780118, 0.65397829, 0.64437773, 0.64171269, 0.62716735,
       0.61250963, 0.63575649, 0.62931865, 0.63805227, 0.6246468 ,
       0.60713139, 0.60761302, 0.61864244, 0.61048677, 0.61642692,
       0.60714744, 0.60420948, 0.61035834, 0.61106473, 0.60388839,
       0.58097868, 0.58759312, 0.59144619, 0.5882674 , 0.57816915,
       0.5777999 , 0.57929296, 0.57876316, 0.58937516, 0.6058952 ,
       0.60819098, 0.61690855, 0.60767724, 0.5963749 , 0.5826644 ]),
       array([0.63049062, 0.63532302, 0.61183535, 0.6172457 , 0.63050668,
       0.65596905, 0.63638261, 0.64193745, 0.64355895, 0.67411058,
       0.66587465, 0.66678975, 0.67061071, 0.67053044, 0.66780118,
       0.65397829, 0.64437773, 0.64171269, 0.62716735, 0.61250963,
       0.63575649, 0.62931865, 0.63805227, 0.6246468 , 0.60713139,
       0.60761302, 0.61864244, 0.61048677, 0.61642692, 0.60714744,
       0.60420948, 0.61035834, 0.61106473, 0.60388839, 0.58097868,
       0.58759312, 0.59144619, 0.5882674 , 0.57816915, 0.5777999 ,
       0.57929296, 0.57876316, 0.58937516, 0.6058952 , 0.60819098,
       0.61690855, 0.60767724, 0.5963749 , 0.5826644 ]),
       array([0.63532302, 0.61183535, 0.6172457 , 0.63050668, 0.65596905,
       0.63638261, 0.64193745, 0.64355895, 0.67411058, 0.66587465,
       0.66678975, 0.67061071, 0.67053044, 0.66780118, 0.65397829,
       0.64437773, 0.64171269, 0.62716735, 0.61250963, 0.63575649,
       0.62931865, 0.63805227, 0.6246468 , 0.60713139, 0.60761302,
       0.61864244, 0.61048677, 0.61642692, 0.60714744, 0.60420948,
       0.61035834, 0.61106473, 0.60388839, 0.58097868, 0.58759312,
       0.59144619, 0.5882674 , 0.57816915, 0.5777999 , 0.57929296,
       0.57876316, 0.58937516, 0.6058952 , 0.60819098, 0.61690855,
       0.60767724, 0.5963749 , 0.5826644 ]),
       array([0.61183535, 0.6172457 , 0.63050668, 0.65596905, 0.63638261,
       0.64193745, 0.64355895, 0.67411058, 0.66587465, 0.66678975,
       0.67061071, 0.67053044, 0.66780118, 0.65397829, 0.64437773,
       0.64171269, 0.62716735, 0.61250963, 0.63575649, 0.62931865,
       0.63805227, 0.6246468 , 0.60713139, 0.60761302, 0.61864244,
       0.61048677, 0.61642692, 0.60714744, 0.60420948, 0.61035834,
       0.61106473, 0.60388839, 0.58097868, 0.58759312, 0.59144619,
       0.5882674 , 0.57816915, 0.5777999 , 0.57929296, 0.57876316,
       0.58937516, 0.6058952 , 0.60819098, 0.61690855, 0.60767724,
       0.5963749 , 0.5826644 ]),
       array([0.6172457 , 0.63050668, 0.65596905, 0.63638261, 0.64193745,
       0.64355895, 0.67411058, 0.66587465, 0.66678975, 0.67061071,
       0.67053044, 0.66780118, 0.65397829, 0.64437773, 0.64171269,
       0.62716735, 0.61250963, 0.63575649, 0.62931865, 0.63805227,
       0.6246468 , 0.60713139, 0.60761302, 0.61864244, 0.61048677,
       0.61642692, 0.60714744, 0.60420948, 0.61035834, 0.61106473,
       0.60388839, 0.58097868, 0.58759312, 0.59144619, 0.5882674 ,
       0.57816915, 0.5777999 , 0.57929296, 0.57876316, 0.58937516,
       0.6058952 , 0.60819098, 0.61690855, 0.60767724, 0.5963749 ,
       0.5826644 ]),
       array([0.63050668, 0.65596905, 0.63638261, 0.64193745, 0.64355895,
       0.67411058, 0.66587465, 0.66678975, 0.67061071, 0.67053044,
       0.66780118, 0.65397829, 0.64437773, 0.64171269, 0.62716735,
       0.61250963, 0.63575649, 0.62931865, 0.63805227, 0.6246468 ,
       0.60713139, 0.60761302, 0.61864244, 0.61048677, 0.61642692,
       0.60714744, 0.60420948, 0.61035834, 0.61106473, 0.60388839,
       0.58097868, 0.58759312, 0.59144619, 0.5882674 , 0.57816915,
       0.5777999 , 0.57929296, 0.57876316, 0.58937516, 0.6058952 ,
       0.60819098, 0.61690855, 0.60767724, 0.5963749 , 0.5826644 ]),
       array([0.65596905, 0.63638261, 0.64193745, 0.64355895, 0.67411058,
       0.66587465, 0.66678975, 0.67061071, 0.67053044, 0.66780118,
       0.65397829, 0.64437773, 0.64171269, 0.62716735, 0.61250963,
       0.63575649, 0.62931865, 0.63805227, 0.6246468 , 0.60713139,
       0.60761302, 0.61864244, 0.61048677, 0.61642692, 0.60714744,
       0.60420948, 0.61035834, 0.61106473, 0.60388839, 0.58097868,
       0.58759312, 0.59144619, 0.5882674 , 0.57816915, 0.5777999 ,
       0.57929296, 0.57876316, 0.58937516, 0.6058952 , 0.60819098,
       0.61690855, 0.60767724, 0.5963749 , 0.5826644 ]),
       array([0.63638261, 0.64193745, 0.64355895, 0.67411058, 0.66587465,
       0.66678975, 0.67061071, 0.67053044, 0.66780118, 0.65397829,
       0.64437773, 0.64171269, 0.62716735, 0.61250963, 0.63575649,
       0.62931865, 0.63805227, 0.6246468 , 0.60713139, 0.60761302,
       0.61864244, 0.61048677, 0.61642692, 0.60714744, 0.60420948,
       0.61035834, 0.61106473, 0.60388839, 0.58097868, 0.58759312,
       0.59144619, 0.5882674 , 0.57816915, 0.5777999 , 0.57929296,
       0.57876316, 0.58937516, 0.6058952 , 0.60819098, 0.61690855,
       0.60767724, 0.5963749 , 0.5826644 ]),
       array([0.64193745, 0.64355895, 0.67411058, 0.66587465, 0.66678975,
       0.67061071, 0.67053044, 0.66780118, 0.65397829, 0.64437773,
       0.64171269, 0.62716735, 0.61250963, 0.63575649, 0.62931865,
       0.63805227, 0.6246468 , 0.60713139, 0.60761302, 0.61864244,
       0.61048677, 0.61642692, 0.60714744, 0.60420948, 0.61035834,
       0.61106473, 0.60388839, 0.58097868, 0.58759312, 0.59144619,
       0.5882674 , 0.57816915, 0.5777999 , 0.57929296, 0.57876316,
       0.58937516, 0.6058952 , 0.60819098, 0.61690855, 0.60767724,
       0.5963749 , 0.5826644 ]),
       array([0.64355895, 0.67411058, 0.66587465, 0.66678975, 0.67061071,
       0.67053044, 0.66780118, 0.65397829, 0.64437773, 0.64171269,
       0.62716735, 0.61250963, 0.63575649, 0.62931865, 0.63805227,
       0.6246468 , 0.60713139, 0.60761302, 0.61864244, 0.61048677,
       0.61642692, 0.60714744, 0.60420948, 0.61035834, 0.61106473,
       0.60388839, 0.58097868, 0.58759312, 0.59144619, 0.5882674 ,
       0.57816915, 0.5777999 , 0.57929296, 0.57876316, 0.58937516,
       0.6058952 , 0.60819098, 0.61690855, 0.60767724, 0.5963749 ,
       0.5826644 ])], dtype=object)

In [30]:
X_test = np.reshape(X_test)
predicted_stock_price = regressor.predict(X_test)
predicted_stock_price = sc.inverse_transform(predicted_stock_price)

TypeError: _reshape_dispatcher() missing 1 required positional argument: 'newshape'